body {
    background-color: aqua;
    display: flex;
    position:absolute;
    width:780px;
    height:650px;
    left:50%;
    top:50%;
    margin-left:-390px;
    margin-top:-325px;
    justify-content: center;
    align-items: center;
}

P {
    margin: auto 10px;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    border: 2px solid red;
    padding: 20px;
}
